//Background Colors
$dark: #2E3131;
$light: #E8ECF0;

// Text Colors
$black: #303333;
$white: #ffffff;
$blue: #32C0FD;

//Button Colors
$dark-blue: #2F3EED;
$light-blue: #33ccff;
$gray: #7D8588;
$light-gray: #CACDCE;
$red: #E5140B;

//Card Background
$super-dark-blue: #134968;